@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 80%;
  /* margin-top: 2rem; */
  /* border: 1px solid red; */
}

.sub-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 13rem;

  /* display: grid;
  grid-template-columns: repeat(12,1fr); */
}

.info {
  flex: 1 1 0;
  /* grid-area: 1/1/1/span 5;
  width: 90%; */
}



.info h1 {
  max-width: 80%;
  color: hsl(300, 43%, 22%);
  font-size: 50px;
  letter-spacing: -2px;
}

.info p {
  color: hsl(303, 10%, 53%);
  font-size: 18px;
  text-shadow: 0px 0px 1px hsl(303, 10%, 53%);
  margin: 1rem 0;
  line-height: 1.5rem;
  
}

.card-note-section {
  flex: 1.2 1 0;
  /* margin-left: auto; */
  /* grid-area: 1/7/1/span 12; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#card-note-container-one {
 align-self: start;
}

#card-note-container-two {
 align-self: center;
}

#card-note-container-three {
  align-self: end;
}
.card-note {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 14px 25px 14px 20px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.5rem;
  /* min-width: 380px; */
}

.card-note h3 {
  color: hsl(300, 43%, 22%);
  font-size: 16px;
}

.list-stars {
  list-style: none;
  display: flex;
  gap: 4px;
}

/*  */


.cards-comment-section {
  display: flex;
  gap: 1.5rem;
}

.card-comment-container{
  display: flex;
  height: 230px;
}

#card-comment-three{
    align-self: end;
}

#card-comment-two {
    align-self: center;
}

.card-comment {
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  padding: 2rem ;
  max-width: 350px;
  max-height: 200px;

}

.card-comment header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-comment blockquote{
  font-size: 16px;
  margin-top: 25px;
  line-height: 18px;
}

.card-comment header img {
  width: 40px;
  border-radius: 2rem;
}

.title-card h2 ,
.card-comment blockquote{
  color: #fff;
}

.title-card h2{
  margin-bottom: 2px;
}

.title-card h2,
.title-card mark{
  font-size: 16px;
}

.title-card mark {
  background-color: transparent;
  color: hsl(333, 80%, 67%);
}
