/* <style>
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
</style> */

/* Dark Grayish Magenta: hsl(303, 10%, 53%)
Light Grayish Magenta: hsl(300, 24%, 96%)
White: hsl(0, 0%, 100%);

Very Dark Magenta: hsl(300, 43%, 22%)
Soft Pink: hsl(333, 80%, 67%) */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 80%;
  height: 480px;
  border: 1px solid red;
}

.sub-container {
   flex: 1.5 1 0;
  /* display: flex;  */
  /* gap: 10rem; */

  display: grid;
  grid-template-columns: repeat(2,3fr);
}

.info {
  /* flex: 1 1 0; */
  grid-area: 1/1/1/span 1;
}

.info h1 {
  color: hsl(300, 43%, 22%);
  font-size: 50px;
  letter-spacing: -2px;
}

.info p {
  color: hsl(303, 10%, 53%);
  font-size: 16px;
  text-shadow: 0px 0px 1px hsl(303, 10%, 53%);
  margin: 1rem 0;
  line-height: 1.5rem;
  
}

.card-note-section {
  grid-area: 1/2/1/span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  /* flex: 1.4 1 0; */
}

#card-note-container-one {
 align-self: start;
}

#card-note-container-two {
 align-self: center;
}

#card-note-container-three {
  align-self: end;
}
.card-note {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 16px 35px 16px 25px;
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.5rem;
  min-width: 360px;
}

.card-note h3 {
  color: hsl(300, 43%, 22%);
  font-size: 15px;
}

.list-stars {
  list-style: none;
  display: flex;
  gap: 5px;
}

.list-stars li img {
   width: 15px;
}

/*  */


.cards-comment-section {
  /* flex: 1 1 0; */
  display: flex;
  gap: 1.5rem;
}

.card-comment-container{
  /* height: 250px; */
  border: 1px solid red;
}

.card-comment {
  background-color: hsl(300, 43%, 22%);
  border-radius: 0.5rem;
  padding: 35px 25px;

}

.card-comment header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-comment blockquote{
  font-size: 0.9rem;
  margin-top: 20px;
  line-height: 20px;
}

.card-comment header img {
  width: 35px;
  border-radius: 2rem;
}

.title-card h2 ,
.card-comment blockquote{
  color: #fff;
}

.title-card h2{
  margin-bottom: 5px;
}

.title-card h2,
.title-card mark{
  font-size: 14px;
}

.title-card mark {
  background-color: transparent;
  color: hsl(333, 80%, 67%);
}
